@import "../../../../Styles/Mixins.scss";

.festival-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  border: 3px solid $base-gray;
  border-radius: 16px;
  padding: 1rem;
  gap: 1rem;
  margin: 2rem 0;
  background-color: $base-desktop-color;

  .festival-backroung-img {
    width: 100%;
    #festival-backroung-img {
      width: 100%;
      border-radius: 16px;
    }
  }

  .festival-title {
    font-size: $base-font-size-s;
    font-weight: 500;
  }

  .festival-text {
    max-width: 80%;
    font-size: $base-font-size-s;
    font-weight: 500;
  }
  .festival-dates {
    position: relative;
    max-width: 100%;
    font-size: $base-font-size-xs;
    font-weight: 500;
    background-color: $base-gray;
    padding: 0.5rem 1rem;
    border-radius: 8px;

    @include breakpoint(md) {
      font-size: $base-font-size-s;
      max-width: 65%;
    }
  }

  .festival-travel-categories-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint(md) {
      display: flex;
      flex-direction: row;
    }
  }
}
