@import "../../../../Styles/Mixins.scss";

.categories-main-container {
  display: flex;
  flex-direction: column;
  background-color: $base-gray-3;
  border-radius: 16px;

  .categories-lists-header {
    font-size: $base-font-size-xs;
    font-weight: bold;
    background-color: $base-gray;
    padding: 1rem;
    border-radius: 8px 8px 0 0;
    position: relative;
    .border-line-orange {
      background-color: $base-orange;
      border-radius: 0 0 5px 5px;
      filter: blur(1px);
      min-width: 30%;
      height: 3px;
      position: absolute;
      top: 0;
      left: 35%;
    }
  }

  .categories-lists {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem;
    background-color: $base-gray-3;

    .categories-list {
      display: flex;
      align-items: center;
      background-color: $base-gray-4;
      border-radius: 8px;
      margin: 0.2rem;
      font-size: $base-font-size-xs;
      text-align: center;
      padding: 0.5rem;
      gap: 1rem;
    }
  }
}
