@import "../../../Styles/Mixins.scss";

.tournaments-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $base-gray;
  color: aliceblue;
  border-radius: 16px;
  padding: 2rem;
  position: relative;
  margin-top: 1rem;

  .tournaments-orange-line {
    background-color: $base-orange;
    border-radius: 5px;
    box-shadow: 2px 2px 5px $base-orange;
    min-width: 45%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 27%;

    // @include breakpoint(sm) {
    //   min-width: 300px;
    // }
  }
  .tournaments-big-text {
    font-size: $base-font-size-m;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .tournaments-small-text {
    font-size: $base-font-size-s;
  }
}
