@import "../../../Styles/Mixins.scss";

.tournaments-main-container {
  display: flex;
  flex-direction: column;
  background-color: $base-gray;
  margin-top: 2rem;
  border-radius: 16px;
  font-weight: bold;
  .tournament-header {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 1rem;

    .border-line-orange {
      background-color: $base-orange;
      border-radius: 0 0 5px 5px;
      filter: blur(1px);
      min-width: 30%;
      height: 3px;
      position: absolute;
      top: 0;
      left: 35%;
    }
  }
  .tournament-image-background {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 0 0 16px 16px;
    border-color: $base-orange;
    text-align: center;
    position: relative;
    .tournament-image-background-clock {
      margin-top: 1.5rem;
    }
    .tournament-image-background-text {
      font-size: $base-font-size-s;
      font-weight: 500;
    }

    .tournaments-images {
      display: flex;
      justify-content: space-between;

      .tournament-mobile-left-image {
        @include breakpoint(md) {
          display: none;
        }
      }

      .tournament-mobile-right-image {
        height: 100%;
        @include breakpoint(md) {
          display: none;
        }
      }
      .tournament-left-image {
        display: none;
        @include breakpoint(md) {
          display: block;
        }
      }
      .tournament-right-image {
        display: none;
        @include breakpoint(md) {
          display: block;
        }
      }
    }
    .tournaments-footer {
      background-color: $base-gray;
      border-radius: 0 0 16px 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 500;
      @include breakpoint(md) {
        position: absolute;
        background-color: transparent;
        bottom: 0;
        left: 25%;
      }

      .tournaments-footer-text {
        font-size: $base-font-size-s;
      }

      .tournament-button {
        background-color: $base-orange;
        padding: 0.2rem 1rem;
        border-radius: 5px;
        margin: 1rem;
      }
    }
  }
}
