@import "../../Styles/Mixins.scss";

.cash-main-container {
  flex-direction: column;
  border-radius: 16px;

  .cash-h3 {
    background-color: aliceblue;
    background-color: $base-gray-3;

    @include breakpoint(md) {
      background-color: $base-color-black;
      border: 3px solid $base-gray-3;
      padding: 1rem;
    }
    .cash-h3-header {
      font-size: $base-font-size-m;
      font-weight: bold;
      text-align: center;
      border-radius: 16px;
      color: aliceblue;
      background-color: $base-gray;
      padding: 2rem;
      z-index: 100;
      position: relative;
      .border-line-orange {
        background-color: $base-orange;
        border-radius: 0 0 5px 5px;
        filter: blur(1px);
        min-width: 30%;
        height: 3px;
        position: absolute;
        top: 0;
        left: 35%;
      }
      @include breakpoint(md) {
        border-radius: 12px 12px 0 0;
        margin: -1rem;
      }
    }
    margin-top: 2rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cash-info-update {
  background-color: $base-gray-3;
  color: aliceblue;
  border-radius: 0 0 16px 16px;
  padding-bottom: 3rem;
  text-align: center;
  font-size: $base-font-size-xxs;

  @include breakpoint(md) {
    background-color: transparent;
    margin-top: 1rem;
  }
}
