@import "../../Styles/Mixins.scss";

.new-year-main-container {
  color: aliceblue;

  .leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $base-gray-3;
    border-radius: 16px;
    margin-top: 2rem;
    @include breakpoint(md) {
      background-color: $base-color-black;
      padding: 1rem;
      border: 3px solid $base-gray;
    }

    .leaderboard-container-header {
      text-align: center;
      font-size: $base-font-size-m;
      border-radius: 16px;
      background-color: $base-gray-3;
      font-weight: bold;
      padding: 2rem 1rem;
      margin-bottom: 1rem;
      background-color: $base-gray;
      position: relative;
      .border-line-orange {
        background-color: $base-orange;
        border-radius: 5px;
        box-shadow: 2px 2px 5px $base-orange;
        min-width: 45%;
        height: 3px;
        position: absolute;
        top: 0;
        left: 27%;
      }

      @include breakpoint(md) {
        width: 100%;
        margin: -1rem;
        border-radius: 12px 12px 0 0;
      }
    }
    .leaderboard-container-mini-header {
      font-weight: bold;
      font-size: $base-font-size-xxxs;
      max-width: 50%;
      min-width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $base-gray-2;
      border-radius: 76px;
      border: 2px solid $base-gray;
      font-weight: bold;
      max-height: 45px;
      margin-bottom: 1rem;

      & > span {
        margin-left: 1rem;
      }

      @include breakpoint(md) {
        margin-top: 2rem;
      }
    }
  }
  .cash-info-update {
    text-align: center;
    font-size: $base-font-size-xs;
    padding-bottom: 3rem;

    @include breakpoint(md) {
      margin-bottom: -2rem;
    }
  }
}
